body {
	min-height: 100vh;
	margin: 0;
	padding: 2rem;
	font: 16px Georgia, serif;
	color: #222;
	background-color: #f0fff6;
}

header {
	margin: 0;
	padding: 0 0 2rem 0;
	text-align: left;
}

footer {
	margin: 0;
	padding: 2rem 0 0 0;
	text-align: left;
}

h1 {
	margin: 0;
	font-size: inherit;
	font-weight: normal;
}

.container {
  border: 2px solid rgb(7, 64, 23);
  border-radius: 12px;
  display: flex;
  gap: 1rem;
  height: 60vh;
  padding: 1rem;
  flex-direction: row;
}

.box {
  color: rgb(239, 255, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
}

.box:nth-child(1) {
  background-color: rgb(53, 97, 55);
  flex: 1;
}

.box:nth-child(2) {
  background-color: rgb(41, 51, 41);
  flex: 2;
}

.box:nth-child(3) {
  background-color: rgb(53, 97, 55);
  flex: 1;
  flex-direction: column;
}

.box:nth-child(4) {
  background-color: rgb(41, 51, 41);
  flex: 2;
  
}

.box:nth-child(5) {
  background-color: rgb(53, 97, 55);
  flex: 1;
}

footer a {
	display: block;
    font-family: 'Trebuchet MS', sans-serif;
    color: #333;
    text-align: center;
    padding: 1rem;
    margin: 0;
    text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

@media (max-width: 700px) {
	.container {
		flex-direction: column;
	}
}
